
main{
    height: 450px;
    width: 100vw;
    background-image: url('../assets/sofa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn button{
    margin-top: 100px;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.2em;
    padding: 3px 10px;
    display: flex;
    color: #000;
    align-items: center;
    border: 1px solid #000000;
    outline: 1px solid#000000;
    border-radius: 15px;
}
.btn button:hover{
    background-color: #000;
    color: #fff;
}

.right3{
    padding-left: 30px;
}